@use './mixins' as *;
@use './colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: $background-color;
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

html {
	font-size: 62.5%;
}
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
// Navigation

.burger-btn {
	position: fixed;
	top: 15px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 120;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}
	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	&__bars,
	&__bars:after,
	&__bars:before {
		@include burgerBtn;
	}
	&__bars {
		width: 100%;
		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

// mobile navigation
.nav {
	top: 0;
	position: fixed;
	width: 100%;
	height: 106vh;
	transform: translateX(100%);
	display: flex;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	justify-content: center;
	align-items: center;
	background-color: $background-color;
	z-index: 100;
	// sliding navigation form right to left
	transition: transform 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		color: $main-color;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		text-decoration: none;
		font-size: 2.6rem;
		transition: color 0.3s;
		//  shoving vertical bar on hover action
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scaleY(0);
			background-color: $main-color;
			transition: transform 0.3s, color 0.3s;
			content: '';
		}
		&:hover {
			color: $font-color;
		}
		&:hover::before {
			transform: scaleY(1);
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

// desktop navigation
.navbar {
	background-color: #ddd;
	height: 80px;
	width: 800px;
	box-shadow: 0 0 30px rgba(255, 0, 0, 25%);
	.navbar-nav {
		margin-top: 0.5em;
	}
	.nav-link {
		display: flex;
		font-size: 2.4rem;
		padding: 0 1em;
		margin: 0 1em;
		color: $main-color;
		transition: color 0.3s;
	}
	.nav-link:hover {
		color: $font-color;
	}

	.navbar-brand {
		color: $main-color;
		transition: color 0.3s;
		margin-left: 2em;
		h3 {
			font-size: 2.4rem;
			font-weight: bold;
			margin-top: 0.5em;

			margin-left: 0.5em;
		}
	}
	.navbar-brand:hover {
		color: $font-color;
	}
}

// header

.outside {
	position: relative;
	display: flex;
	top: 150px;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	width: 380px;
	height: 380px;
	border: 1px solid $main-color;
	border-radius: 50%;
	
	
	
}
.inside {
	.my-photo {
		margin-top: 4em;
		position: absolute;
		display: flex;
		left: 50%;
		transform: translate(-50%);
		// align-items: center;
		// justify-content: center;
		object-fit: cover;
		// justify-content: center;
		object-position: 0 0;
		// background-size: cover;
		width: 250px;
		height: 250px;
		border-radius: 50%;
	}
}
	.header {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&__title {
			margin-top: 6em;
			text-align: center;
			font-weight: bold;
			font-size: 4rem;
		}
		&__paragraph-one {
			margin-top: 2em;
			text-align: center;
			font-size: 2rem;
			font-weight: bold;
		}
		&__paragraph-two {
			display: flex;
			margin-top: 2em;
			text-align: center;
			font-size: 2rem;
		}
	}
	
	.coop-btn {
		position: absolute;
		height: 100px;
		width: 200px;
		margin-top: 2em;
		top: 75%;
		left: 50%;
		transform: translate(-50%);
		background-color: $main-color;
		border-radius: 8px;
		color: #ddd;
	transition: background-color 0.3s, color 0.3s;
	&:hover {
		background-color: $font-color;
		color: $main-color;
	}
	&__text {
		display: flex;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 3rem;
		text-decoration: none;
	}
}

// Media

@media (min-width: 320px){
	
	.nav{
		&--active{
			overflow: hidden;
		}
	}
	.navbar-brand{
		margin-left: 0 !important;
	}

	.outside{
		transform: translate(-50%, -30%);
		width: 200px;
		height: 200px;
	}
	.inside{
		.my-photo{
		width: 150px;
		height: 150px;
		top: 20%;
		transform: translate(-50%, -50%);
	}
}
.header{
	&__title{
		font-size: 1.6rem;
		padding: 0;
		margin-top: 13em;
	}
	&__paragraph-one {
		margin-top: 1em;
		text-align: center;
		font-size: 1.6rem;
		font-weight: lighter;
	}
	&__paragraph-two {
		margin-top: 0;
		height: 100%;
		width: 100%;
		font-size: 1.6rem;
		font-weight: lighter;
		margin-bottom: 1em;
	}
}

.coop-btn{
	height: 50px;
	width: 100px;
	top: 83%;
	margin-bottom: 0;
	&__text{
		font-size: 1.6rem;
	}
}

@media (min-width: 992px) {
	.nav {
		&--active {
			display: none;
			height: 100vh;
		}
	}

	.navbar {
		display: block;
	}
	.navbar-brand {
		padding: 1em 0;
	}
	.burger-btn {
		display: none;
	}
	.outside {
		display: flex;
		width: 380px;
		height: 380px;
		.inside {
			.my-photo {
				position: absolute;
				display: flex;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
			}
		}
	}
}

@media (min-width: 1200px) {
	.navbar-brand {
		padding: 0.5em 0;
		h3 {
			font-size: 2.8rem !important;
		}
	}
	.nav-link {
		font-size: 2.9rem !important;
	}
	.outside {
		width: 480px;
		height: 480px;
		display: inline-block;
		display: flex;
		right: 10;
		
	
		.inside {
			.my-photo {
				width: 380px;
				height: 380px;
				top: -10px;
				// left: 50%;
			}
		}
	}
}
}