@use './mixins' as *;
@use './colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	background-color: $background-color;
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	position: relative;
	height: 100vh;
}

.wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	max-width: 2560px;
	height: 8em;
}
// Navigation

.burger-btn {
	position: fixed;
	top: 15px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 12000;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}
	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	&__bars,
	&__bars:after,
	&__bars:before {
		@include burgerBtn;
	}
	&__bars {
		width: 100%;
		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

// mobile navigation
.nav {
	top: 0;
	position: fixed;
	width: 100%;
	height: 100vh;
	transform: translateX(100%);
	display: flex;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	justify-content: center;
	align-items: center;
	background-color: $background-color;
	z-index: 10;
	// sliding navigation form right to left
	transition: transform 0.6s cubic-bezier(0.65, 0.05, 0.36, 1) both;
	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		color: $main-color;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		text-decoration: none;
		font-size: 2.6rem;
		font-weight: 400;
		transition: color 0.3s;
		//  shoving vertical bar on hover action
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scaleY(0);
			background-color: $main-color;
			transition: transform 0.3s, color 0.3s;
			content: '';
		}
		&:hover {
			color: $font-color;
		}
		&:hover::before {
			transform: scaleY(1);
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

// desktop navigation
.navbar {
	z-index: 10;
	background-color: $pure-white;
	height: 80px;
	width: 800px;
	box-shadow: 0 0 30px rgba(255, 0, 0, 25%);
	.navbar-nav {
		margin-top: 0.5em;
	}
	.nav-link {
		display: flex;
		font-size: 2.4rem;
		padding: 0 1em;
		margin-left: 1em;
		color: $main-color;
		transition: color 0.3s;
	}
	.nav-link:hover {
		color: $font-color;
	}

	.navbar-brand {
		color: $main-color;
		transition: color 0.3s;

		margin-left: 2em;
		h3 {
			font-size: 2.4rem;
			font-weight: bold;
			margin-top: 0.5em;

			margin-left: 0.5em;
		}
	}
	.navbar-brand:hover {
		color: $font-color;
	}
}

// header

.outside {
	position: relative;
	top: 12em;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	width: 280px;
	height: 280px;
	border: 1px solid $main-color;
	border-radius: 50%;
}
.inside {
	.my-photo {
		top: 3em;
		position: absolute;
		display: flex;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		object-fit: cover;
		object-position: 0 0;
		width: 200px;
		height: 200px;
		border-radius: 50%;
	}
}
.header {
	position: absolute;
	top: 35em;
	height: 0;
	width: 100%;

	&__title {
		text-align: center;
		font-weight: bold;
		font-size: 2rem;
	}
	&__paragraph-one {
		text-align: center;
		font-size: 2rem;
		font-weight: bold;
	}
	&__paragraph-two {
		text-align: center;
	}
}

.coop-btn {
	position: absolute;
	height: 100px;
	width: 200px;
	top: 54em;
	left: 50%;
	transform: translate(-50%);
	background-color: $main-color;
	border-radius: 8px;
	color: #ddd;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	&:hover {
		background-color: $font-color;
		color: $main-color;
	}
	&__text {
		display: flex;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 3rem;
		text-decoration: none;
	}
}

//  ABOUT SECTION
.about {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: $pure-white;
	height: 80em;
	width: 100%;
	position: relative;
	top: 50em;

	&__title {
		position: absolute;
		top: 1em;
		padding-bottom: 1em;
		text-align: center;
		font-size: 3em;
		font-weight: bold;
	}
	&__photo {
		position: absolute;
		top: 10em;
		max-height: 36%;
		max-width: 70%;
	}
	&__text-box {
		width: 100%;
		top: 38em;
		height: 350px;
		padding-top: 1.8em;
		position: absolute;
	}
	&__text {
		font-family: 'Roboto', sans-serif;
		position: relative;
		color: $font-color;
		margin: 0 1em;
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
	}
	.cv-btn {
		position: absolute;
		height: 100px;
		width: 200px;
		top: 65em;
		left: 50%;
		transform: translate(-50%);
		background-color: $main-color;
		border-radius: 8px;
		color: #ddd;
		transition: background-color 0.3s, color 0.3s;
		&:hover {
			background-color: $font-color;
			color: $main-color;
		}
		&__text {
			display: flex;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 3rem;
			text-decoration: none;
		}
	}
}

// SKILLS SECTION
.skills-section {
	height: 50vh;
	left: 50%;
	transform: translateX(-50%);
	padding: 1em;
	position: absolute;
	top: 170em;
	width: 100%;
}
h2 {
	font-size: 4rem;
	color: $font-color;
	text-align: center;
	width: 100%;
	top: -7.5em;
	position: absolute;
	font-weight: 700;
}
.skill {
	margin-bottom: 15px;
}
.skill svg {
	color: #fff;
}
.skill:last-child {
	margin-bottom: 0;
}
.skill-title-box {
	position: absolute;
	height: 5em;
	width: 100%;
	top: -5em;
	background-color: $main-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	cursor: pointer;
}
.title-left {
	display: flex;
	align-items: center;
	gap: 15px;
}
.title-left svg {
	color: #fff;
}

.title-left .skill-title {
	font-size: 18px;
	color: #fff;
	font-weight: 700;
}
.title-right {
	transition: all 0.3s;
}
.title-right i {
	font-size: 15px;
	color: #fff;
}
.skill-content {
	overflow: hidden;
	max-height: 0;
	transition: all 0.3s;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: column;
	gap: 10px;
}
.skill-item {
	padding: 24px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	background-color: #f4f4f4;
	gap: 15px;
	transition: all 0.3s;
}
.skill-item:hover {
	background-color: #fff;
}
.skill-item .item-title {
	color: #141415;
	font-size: 13px;
	font-weight: 700;
}
.skill-item .item-progress {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 15px;
}
.skill-item .item-bar {
	position: relative;
	overflow: hidden;
	height: 15px;
	width: 100%;
	background-color: #f24f1e2e;
}
.skill-item .item-bar::before {
	position: absolute;
	left: -200%;
	height: 100%;
	background-color: #f24e1e;
	width: 90%;
	content: '';
	transition: all 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.active-bar::before {
	left: 0 !important;
}
.skill-item .item-bar.second::before {
	width: 75%;
}
.skill-item .item-bar.third::before {
	width: 80%;
}
.skill-item .item-bar.fourth::before {
	width: 50%;
}
.skill-item .item-bar.fifth::before {
	width: 10%;
}

.skill-item .item-percent {
	color: #141415;
	font-size: 13px;
	font-weight: 700;
}
.skill.sec .skill-item .item-bar::before {
	width: 50%;
}
.skill.thi .skill-item .item-bar::before {
	width: 80%;
}

// SERVICES

.services-section {
	width: 100%;
	top: 235em;
	height: 300vh;
	background-color: $pure-white;
	position: absolute;
}

.services-title {
	top: 4em;
}
.card-box {
	display: flex;
	justify-content: center;
}

.card {
	position: absolute;
	width: 18em;
	height: 26em;
	top: 16em;
	padding: 0.2em;
	background-color: #ddd;
	text-align: center;
	border-radius: 6px;
	transition: box-shadow 0.3s;
	h3 {
		top: -1em;
		font-weight: bold;
		font-size: 2.4rem;
	}
	p {
		margin-top: 1em;
		font-size: 2rem;
		color: $font-color;
		font-weight: 600;
		margin-bottom: 4px;
	}
}

.card:hover {
	box-shadow: 0 0 30px rgba(255, 0, 0, 25%);
}

.icon {
	margin: 2em auto;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 5em;
	width: 80px;
	height: 70px;
	border-radius: 20%;
	color: $pure-white;
}
.icon-one {
	background-color: $main-color;
}

.card-two {
	top: 46em;
	
}
.icon-two {
	
	background-color: #ffce21;
}

.card-three {
	top: 76em;
}
.icon-three {
	background-color: #29f5a6;
}

// Media

@media (min-width: 576px) {
	.outside {
		top: 10em;
		width: 500px;
		height: 500px;
	}
	.inside {
		.my-photo {
			top: 15.5em;
			width: 400px;
			height: 400px;
		}
	}
	.header {
		position: absolute;
		top: 50em;
		&__title {
			font-size: 4.6rem;
			top: 0;
		}
		&__paragraph-one {
			font-size: 3.6rem;
			top: 1em;
			font-weight: 300;
		}
		&__paragraph-two {
			font-size: 2.7rem;
		}
	}
	.coop-btn {
		top: 70em;
		width: 300px;
		height: 85px;
		&__text {
			font-size: 2.8rem;
		}
	}
	.skills-section {
		padding-top: 5em;
		width: 75%;
	}
}

@media (min-width: 768px) {
	.nav {
		&__item {
			font-size: 4rem;
		}
	}
	.outside {
		top: 11em;
		width: 450px;
		height: 450px;
	}
	.inside {
		.my-photo {
			width: 350px;
			height: 350px;
			top: 14em;
		}
	}
	.header {
		position: relative;
		top: 15em;
		&__title {
			font-size: 3.4rem;
		}
		&__paragraph-one,
		&__paragraph-two {
			font-size: 2.8rem;
			font-weight: 100;
		}
	}
	.coop-btn {
		position: absolute;
		height: 100px;
		width: 300px;
		top: 65em;
	}

	.about {
		&__title {
			font-size: 6rem;
		}

		&__text-box {
			padding-top: 5em;
		}
		&__text {
			font-size: 1.8em;
		}
		.cv-btn {
			width: 300px;
			height: 100px;
		}
	}
}

.skills-section {
	top: 180em;
}

@media (min-width: 992px) {
	.burger-btn {
		display: none;
	}
	.coop-btn {
		height: 100px;
		width: 300px;
		bottom: 5em;
	}

	.services-title{
		top: 2em;
		font-size: 6rem;
	}

	.card  {
		position: relative;
		top: 16em;
		margin: 2em;
		height: 29em;
	}
}

@media (min-width: 1300px) {
	.outside {
		position: relative;
		top: 20em;
		left: 70%;
		width: 700px;
		height: 700px;
	}
	.inside {
		.my-photo {
			width: 550px;
			height: 550px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.coop-btn {
		transform: translate(-50%, 200%);
	}

	.header {
		position: relative;
		top: 0;
		left: -25%;
		&__title {
			font-size: 3.6rem;
			padding-bottom: 0.5em;
		}

		&__paragraph-two {
			margin-left: 2em;
		}
		&__paragraph-two {
			margin-left: 2em;
		}
	}
	.about {
		top: 45em;
		display: flex;
		position: relative;
		&__title {
			font-size: 7.6rem;
			top: 1em;
			position: absolute;
			align-items: center;
			color: $font-color;
		}
		&__photo {
			position: relative;
			min-width: 500px;
			margin-left: 9em;
			min-height: 800px;
			left: -12em;
			top: 0em;
		}
		&__text-box {
			position: relative;
			padding: 2em;
			top: 2em;
			margin-top: 1em;
			overflow: hidden;
			left: 0;
			transform: translateX(0%);
			height: 700px;
			max-width: 1200px;
		}
		&__text {
			text-align: left;
			font-size: 3.6rem;
			padding: 0;
			margin: 0;
		}

		.cv-btn {
			position: absolute;

			transform: translate(50%, -100%);
			width: 300px;
		}
	}

	.skills-section {
		left: 50%;
		transform: translateX(-50%);
		width: 55%;
		top: 190em;
	}
	.skills h2 {
		top: -4em;
		font-size: 6rem;
	}
	.card{
		width: 20em;
		margin: 6em;
	}
}
